* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font: sans-serif;
}

a {
  text-decoration: none;
  color: #0645AD;
}

main {
  width: 960px;
  margin: 0 auto;
}

section.intro p {
  font-size: 20px;
}

section.intro p.welcome {
  text-align: right;
  font-weight: 800;
}

section.intro p a {
  text-decoration: none;
  color: #0645AD;
}

section.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


div.icon-cont {
  width: 24.6%;
  padding: 15px 40px;

}

div.icon-cont img {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

footer {
  border-top: 1px solid #ccc;
}

footer p {
  text-align: center;
}
